@model Course

<div class="container">
    <div class="card my-lg-5">
        <div class="row g-0">
            <div class="col-md-4 d-flex card-image-course justify-content-center">
                <img src="@Model.Image" class="img-fluid" alt="@Model.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body single-card-course">
                    <h3 class="card-title">@Model.Title</h3>
                    <p class="card-text">Linguaggio: <span class="badge rounded-pill text-bg-warning">@Model.Category.Name</span></p>
                    <p class="card-text">Difficoltà: @Model.Level</p>
                    

                    @if(Model.Price > 0)
                    {
                        <div class="d-flex gap-3">
                            <span class="fw-bold">Difficoltà:</span> <p class="card-text fw-bold text-danger"> @Model.Price &euro;</p>
                        </div>
                    }else{
                        <p class="card-text fw-bold text-success">Gratuito</p>
                    }


                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Html.Raw(Model.Text)</p>
                    <p class="card-text"><small class="text-body-secondary">Postato il: @Model.CreatedAt.ToShortDateString()</small></p>
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Torna ai corsi</a>
                </div> 
            </div>
        </div>
    </div>
</div>