@model Course

<div class="container">
    <div class="card my-lg-5">
        <div class="row g-0">
            <div class="col-md-4 d-flex card-image-course justify-content-center">
                <img src="@Model.Image" class="img-fluid" alt="@Model.Title">
            </div>
            <div class="col-md-8">
                <div class="card-body single-card-course">
                    <h5 class="card-title">@Model.Title</h5>
                    <p class="card-text">Linguaggio: @Model.Category.Name</p>
                    <p class="card-text">Difficoltà: @Model.Level</p>
                    <p class="card-text">@Model.Description</p>
                    <p class="card-text">@Html.Raw(Model.Text)</p>
                    <p class="card-text"><small class="text-body-secondary">Postato il: @Model.CreatedAt.ToShortDateString()</small></p>
                    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Torna ai corsi</a>
                </div> 
            </div>
        </div>
    </div>
</div>